.diashow {
  width: 100%;
  height: 70vh;
  z-index: -1;
  overflow: hidden;
  position: relative;
}

.slideshow > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 600ms;
}

.slideshow > img.active {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1200px) {
  .slideshow {
    height: 40vh;
    background-size: cover;
  }
}
